---

- name: install webserver software
  yum: pkg={{ item }} state=present
  with_items:
    - httpd
    - mysql-server
    - php
    - php-devel
    - php-mysql

- name: start web services
  service: name={{ item }} state=started
  with_items:
    - httpd
    - mysqld

- name: add iptables rule for HTTP
  command: iptables -I INPUT -p tcp --dport 80 -j ACCEPT
  notify: save iptables rules

- name: add iptables rule for HTTPS
  command: iptables -I INPUT -p tcp --dport 443 -j ACCEPT
  notify: save iptables rules
